@attribute [Obsolete("方案废弃",true)]

@using AIDotNet.Document.Rcl.Shared.Components.NavModule
@using Components.SideBars
@code {
    bool temp;
}
<MNavigationDrawer App=true Permanent="true" Color="grey lighten-5" Width="@Width" Clipped=Clipped MiniVariant=temp>
    <PrependContent>
        <MRow Dense=true Class="pa-1 mb-3">
            <MCol Cols="12" Class="text-end">
                <MButton Icon=true Small=true OnClick="RefreshClick" Loading=refreshing>
                    <MIcon Small=true>mdi-refresh</MIcon>
                </MButton>
            </MCol>

            <MCol Cols="12" Class="text-center">
                <MAvatar Size="50">
                    <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png" />
                </MAvatar>
            </MCol>

            @* vip
            <MCol Cols="12">
            <MRow NoGutters=true Align="AlignTypes.Center" Justify="JustifyTypes.Center">
            <img src="assets/img/vip/common.png" height="13" width="35" />
            <MDivider Vertical=true Class="ma-2" />
            <a><small>开通会员</small></a>
            </MRow>
            </MCol>
            *@
            @if (temp is false)
            {
                <MCol Cols="12" Class="text-center">
                    <MButton Depressed=true Color="primary" Dark=true Width="@("80%")" Class="my-2">
                        <MIcon>mdi-plus</MIcon>
                        新建
                    </MButton>
                </MCol>
            }
        </MRow>
    </PrependContent>

    <ChildContent>
        <NavTree Items="Menus"
                 Mini=temp
                 Dense="true" Nav="true" Routable="true"
                 ActiveClass="blue--text text--darken-1"
                 Color="@null" />
    </ChildContent>

    <AppendContent>

        <MDivider Class="mb-3" />

        <MRow NoGutters=true Class="px-2 pb-6">
            <MButton Color="indigo darken-4"
                     Text=true Small=true Dark=true
                     OnClick="()=>WindowService.OpenSetting(Constant.Settings.SettingsType)">
                <MIcon Left=true Small=true>mdi-wrench</MIcon>
                打开设置
            </MButton>
            <MButton Color="pink darken-3"
                     OnClick="()=>WindowService.OpenSetting(Constant.Settings.AboutType)"
                     Text=true Small=true Dark=true>
                <MIcon Small=true>mdi-information-variant</MIcon>
                关于我们
            </MButton>

            <MMenu OffsetY=false OffsetX=true Top=true OpenOnHover=true>
                <ActivatorContent>
                    <MButton @attributes=context.Attrs Icon=true Small=true Color="success">
                        <MIcon Small=true>mdi-backburger</MIcon>
                    </MButton>
                </ActivatorContent>
                <ChildContent>
                    <MListItemGroup>
                        <MListItem Class="menuItem" OnClick="_=>SideBarTypeChanged.InvokeAsync(SideBarType.Mini)">
                            <MIcon Small=true Left=true Class="my-auto" Color="teal darken-2">mdi-backburger</MIcon>
                            <MListItemContent>
                                <MListItemTitle Class="menuItemLabel">@SideBarType.Mini</MListItemTitle>
                            </MListItemContent>
                        </MListItem>

                        <MListItem Class="menuItem">
                            <MIcon Small=true Left=true Class="my-auto" Color="teal darken-2">mdi-backburger</MIcon>
                            <MListItemContent>
                                <MListItemTitle Class="menuItemLabel">@SideBarType.Hidden</MListItemTitle>
                            </MListItemContent>
                        </MListItem>

                    </MListItemGroup>
                </ChildContent>
            </MMenu>

        </MRow>
    </AppendContent>

</MNavigationDrawer>