@page "/my-folder/{folderId?}"

<style>
    .folder-item {
        transition: all 0.3s;
        border-radius: 8px;
        cursor: pointer;
        height: 70px;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }

        .folder-item:hover {
            transition: all 0.3s;
            background-color: #F4F6F7;
        }

    .folder-item-selected {
        background-color: #F4F6F7;
    }

    .folder-icon {
        float: left;
        margin-right: 8px;
    }

    .folder-info {
        flex-grow: 1;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65%;
    }

    .folder-date {
        color: #999;
        font-size: 12px;
        width: 100%;
        float: left;
    }

    .folder-options {
        margin-left: auto;
        float: right;
    }

    .edit-input {
        outline: none;
        background-color: transparent;
        /*好看的输入框边框*/
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px;
        color: #333;
        font-size: 10px;
        width: 100%;
    }

    .d-list-item {
        max-height: 35px;
        height: 35px;
        width: 220px;
        display: flex;
        align-items: center;
        min-height: auto;
        padding-left: 20px;
    }

    .d-m-list {
        padding: 0;
    }

    .search-box {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 25px;
        padding: 5px 5px;
        height: 30px;
        background-color: #F4F6F7;
        margin-bottom: 10px;
        width: 95%;
    }

    .search-input {
        border: none;
        outline: none;
        padding: 5px 5px;
        width: 100%;
        font-size: 12px;
    }

    .menuItem {
        min-height: 40px;
        height: 40px;
        padding-right: 32px;
    }

    .menuItemLabel {
        font-size: 13px;
        padding-left: 4px;
    }
</style>

<SpliteerContent>
    <Left>
        <div class="search-box mt-4">
            <input type="text" class="search-input" placeholder="搜索">
        </div>

        <div style="width: 100%;height: calc(100vh - 50px);overflow-y: auto;">
            @if (FolderItemDto?.Id != null)
            {
                <div style="height: 25px;margin-bottom: 8px;">
                    <div class="folder-icon">
                        <MIcon OnClick="Back" Style="cursor: pointer;">mdi-menu-left</MIcon>
                    </div>
                    <div class="folder-info" style="padding-top: 2px;text-align: center;padding-left: 20px;">
                        @FolderItemDto?.Name
                    </div>
                </div>
            }

            @foreach (var item in Folders)
            {
                <div class="@GetClass(item.Id)" style="user-select: none;" @onclick="() => SelectFolder(item.Id)">
                    <div class="folder-icon">
                        @if (item.IsFolder == true)
                        {
                            <MIcon Color="amber darken-3">mdi-folder</MIcon>
                        }
                        else
                        {
                            @if (item.Type == FolderType.Markdown)
                            {
                                <MIcon Color="teal darken-2">mdi-language-markdown</MIcon>
                            }
                            else if (item.Type == FolderType.Note)
                            {
                                <MIcon Color="teal darken-2">mdi-note-text</MIcon>
                            }
                            else if (item.Type == FolderType.Pdf)
                            {
                                <MIcon Color="teal darken-2">mdi-file-pdf-box</MIcon>
                            }
                            @*                             <svg class="icon" viewBox="0 0 1024 1024" width="20" height="20">
                                <path d="M798.42 76.032c37.804 4.244 66.988 29.9 73.858 67.306C883.114 202.426 896 314.252 896 512c0 177.468-5.76 285.732-11.306 348.78-4.224 48.078-39.872 83.73-87.916 88.304C739.882 954.498 648.49 960 512 960s-227.882-5.5-284.78-10.916c-48.04-4.574-83.69-40.226-87.914-88.304C133.76 797.732 128 689.466 128 512c0-177.466 5.76-285.732 11.306-348.78 4.224-48.078 39.872-83.73 87.916-88.304C284.118 69.502 375.51 64 512 64c145.9 0 235.242 6.284 286.42 12.032z"
                                      fill="#53B5FF">
                                </path>
                                <path d="M298.666 69.52v884.956c-28.202-1.654-51.86-3.53-71.444-5.392-48.044-4.574-83.692-40.226-87.916-88.304C133.76 797.73 128 689.466 128 512c0-177.468 5.76-285.732 11.306-348.782 4.224-48.076 39.872-83.73 87.916-88.3 19.584-1.866 43.242-3.74 71.444-5.396z"
                                      fill="#FCBF28">
                                </path>
                                <path d="M426.666 268.05c0-16.306 12.268-29.768 28.544-30.596 25.686-1.306 70.572-2.788 142.124-2.788 71.552 0 116.436 1.48 142.122 2.788 16.278 0.828 28.544 14.29 28.544 30.596v18.568c0 16.304-12.266 29.766-28.544 30.594-25.686 1.308-70.57 2.788-142.122 2.788-71.552 0-116.438-1.48-142.124-2.788-16.276-0.828-28.544-14.29-28.544-30.594v-18.568zM426.666 438.716c0-16.306 12.268-29.916 28.524-30.96 18.708-1.202 45.674-2.422 78.144-2.422 32.468 0 59.434 1.22 78.144 2.42 16.256 1.046 28.522 14.656 28.522 30.96v18.57c0 16.306-12.266 29.916-28.522 30.96-18.71 1.202-45.676 2.422-78.144 2.422-32.47 0-59.436-1.22-78.144-2.42-16.256-1.046-28.524-14.656-28.524-30.96v-18.57z"
                                      fill="#FFFFFF">
                                </path>
                            </svg> *@
                        }
                    </div>
                    <div class="folder-info">
                        @if (item.IsEdit)
                        {
                            <input autofocus @onblur="() => RenameOnBlur(item)" @bind="@item.Name" class="edit-input"/>
                        }
                        else
                        {
                            <div @ondblclick="() => Rename(item)">@item.Name</div>
                        }
                    </div>
                    <div class="folder-options">

                        <MMenu Right=true Bottom=true OffsetX=true OffsetY=true>
                            <ActivatorContent>
                                <MButton @attributes="@context.Attrs" Text=true Small=true Icon=true>
                                    <MIcon>mdi-dots-horizontal</MIcon>
                                </MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MListItemGroup>
                                    <MListItem Class="menuItem" OnClick="() => NewNote(item)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="teal darken-2">mdi-note-plus</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">新增空白文档</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>

                                    <MListItem Class="menuItem" OnClick="() => NewNote(item, FolderType.Markdown)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="teal darken-2">mdi-language-markdown</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">新增Markdown</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>

                                    <MListItem Class="menuItem" OnClick="() => UploadPdf(item)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="teal darken-2">mdi-file-pdf-box</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">上传PDF</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>

                                    <MListItem Class="menuItem" OnClick="() => NewFolder(item)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="amber darken-3">mdi-folder-plus</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">新增目录</MListItemTitle>
                                        </MListItemContent>

                                    </MListItem>

                                    <MDivider Class="my-0"/>

                                    <MListItem Class="menuItem" OnClick="() => Remove(item)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="error">mdi-file-document-remove</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">删除</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>

                                    <MDivider Class="my-0"/>

                                    <MListItem Class="menuItem" OnClick="() => Rename(item)">
                                        <MIcon Small=true Left=true Class="my-auto" Color="info">mdi-rename</MIcon>
                                        <MListItemContent>
                                            <MListItemTitle Class="menuItemLabel">重命名</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MListItemGroup>
                            </ChildContent>
                        </MMenu>
                    </div>
                    <div class="folder-date">
                        <span>@item.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                        <span style="float: right;">@item.StatusText</span>
                    </div>
                </div>
            }

            @if (Folders.Count == 0)
            {
                <div style="text-align: center;padding-top: 20px;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;width: 100%;">
                    <div style="color: #999999;margin-bottom: 15px;user-select: none;">暂无笔记</div>
                    <MButton OnClick="() => NewNote(FolderItemDto)" Depressed Color="primary">
                        新建笔记
                    </MButton>
                </div>
            }
        </div>
    </Left>
    <Right>
        @if (FileItemDto is { IsFolder: false })
        {
            <EditNote OnBlur="RenameOnBlur" Value="FileItemDto"/>
        }
    </Right>
</SpliteerContent>