@page "/my-folder/{folderId?}"

<style>
    .folder-item {
        transition: all 0.3s;
        border-radius: 8px;
        cursor: pointer;
        height: 70px;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }

    .folder-item:hover {
        transition: all 0.3s;
        background-color: #F4F6F7;
    }
    .folder-item-selected {
        background-color: #F4F6F7;
    }

    .folder-icon {
        float: left;
        margin-right: 8px;
    }

    .folder-info {
        flex-grow: 1;
        float: left;
    }

    .folder-date {
        color: #999;
        font-size: 12px;
        width: 100%;
        float: left;
    }

    .folder-options {
        margin-left: auto;
        float: right;
    }
    
    .edit-input{
        outline: none;
        background-color: transparent;
        /*好看的输入框边框*/
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px;
        
        color: #333;
        font-size: 10px;
        width: 100%;
    }
    
    .m-list-item{
        height: 24px !important;
        min-height: 25px !important;
    }
</style>

<SpliteerContent>
    <Left>
        <MTextField
            Style="flex: none;"
            PrependInnerIcon="mdi-magnify"
            Dense
            Label="搜索笔记"
            @bind-Value="SearchKey"
            Solo>
        </MTextField>
        <div style="flex: 1;width: 100%;">

            @if (!string.IsNullOrEmpty(FolderId) && FolderItemDto?.IsFolder == true)
            {
                <div style="height: 25px;">
                    <div class="folder-icon">
                        <MIcon OnClick="Back" Style="cursor: pointer;">mdi-menu-left</MIcon>
                    </div>
                    <div class="folder-info" style="padding-top: 2px;">
                        <div>@FolderItemDto?.Name</div>
                    </div>
                </div>
            }

            @foreach (var item in Folders)
            {
                <div class="@GetClass(item.Id)" @onclick="() => SelectFolder(item.Id)">
                    <div class="folder-icon">
                        @if (item.IsFolder == true)
                        {
                            <MIcon>mdi-folder-text</MIcon>
                        }
                        else
                        {
                            <MIcon>mdi-file-document-outline</MIcon>
                        }
                    </div>
                    <div class="folder-info">
                        @if (item.IsEdit)
                        {
                            <input autofocus @onblur="() => RenameOnBlur(item)" @bind="@item.Name" class="edit-input"/>
                        }
                        else
                        {
                            <div @ondblclick="()=>Rename(item)">@item.Name</div>
                        }
                    </div>
                    <div class="folder-options">

                        <MMenu Left
                               Bottom>
                            <ActivatorContent>
                                <MButton Text XSmall Fab @attributes="@context.Attrs">
                                    <MIcon>mdi-dots-horizontal</MIcon>
                                </MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MList Dense>
                                    <MListItem OnClick="() => Remove(item)">
                                        <MListItemTitle>删除</MListItemTitle>
                                    </MListItem>

                                    <MListItem OnClick="() => Rename(item)">
                                        <MListItemTitle>重命名</MListItemTitle>
                                    </MListItem>
                                    <MListItem OnClick="() => NewNote()">
                                        <MListItemTitle>新建笔记</MListItemTitle>
                                    </MListItem>
                                </MList>
                            </ChildContent>
                        </MMenu>
                    </div>
                    <div class="folder-date">@item.CreatedTime.ToString("yyyy-MM-dd")</div>
                </div>
            }
            @if (Folders.Count == 0)
            {
                <div style="text-align: center;padding-top: 20px;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;width: 100%;">
                    <div style="color: #999999;margin-bottom: 15px;user-select: none;">暂无笔记</div>
                    <MButton OnClick="NewNote" Depressed Color="primary">
                        新建笔记
                    </MButton>
                </div>
            }
        </div>
    </Left>
    <Right>
        @if (FolderItemDto is { IsFolder: false })
        {
            <EditNote OnBlur="RenameOnBlur" Item="FolderItemDto"/>
        }
    </Right>
</SpliteerContent>